<html>
<head>
    <title>
        {% block page-title %}
            {{ settings.PRODUCT_NAME | default:'Learning' }}
        {% endblock %}
    </title>
    {% block base-css %}
    {% endblock %}
    {% block important-css %}
    {% endblock %}
    {% block css-files %}
    {% endblock %}
    {% block base-scripts %}
    {% endblock %}
    {% block important-scripts %}
    {% endblock %}
</head>
<body>
    <!-- NarBar Start -->
    {% block base-nav-bar %}
    {% endblock %}
    <!-- NarBar Ended -->
    {% block main-body %}
    {% endblock %}

<!-- Add Scripts Here -->
{% block scripts-files %}
{% endblock %}
</body>
</html>